body {
    font-family: 'Poppins', sans-serif;
    background-color: #646A84;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#appLogo {
    width: 60px;
    height: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #474E68;
    border-radius: 2rem;
    margin: 11px 11px 0px 11px;
    flex-shrink: 0;
}

.left, .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.left {
    margin-left: 20px;
}

.right {
    margin-right: 20px;
}

.left .text p {
    font-size: 1.6rem;
    color: white;
}

.settings , .profile, .logo {
    cursor: pointer;
}

.section {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 11px;
    gap: 11px;
    flex: 1;
}

.chats, .welcome {
    background-color: #474E68;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chats .noChats {
    color: white;
}

.welcome .welcomeText {
    font-size: 50px;
    box-sizing: border-box;
    line-height: 0.3;
    color: white;
    font-weight: 300;
}

.welcome .startChatBtn button {
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #646A84;
    color: white;
    width: auto;
    height: 50px;
    font-size: 30px;
    border-radius: 1rem;
    padding: 0px 11px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.1s;
}

.welcome .startChatBtn button:hover {
    background-color: #5c627b;

}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.newMessage {
    background-color: #474E68;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2rem;
    padding: 11px;
    color: white;
}

.recipient {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #646A84;
    height: auto;
    padding: 11px;
    font-size: 35px;
    font-weight: 300;
    box-sizing: border-box;
    border-radius: 1.2rem;
    gap: 11px;
    margin-bottom: 11px;
}

.recipientNameDiv {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

.recipientNameDiv input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 1.2rem;
    border: none;
    background-color: #646A84;
    font-size: 30px;
    color: white;
}

.recipientNameDiv input:focus {
    color: white;
    outline: none;
}

.suggestions {
    display: flex;
    flex-direction: column;
    padding: 11px;
    width: 100%;
    background-color: #646A84;
    box-sizing: border-box;
    border-radius: 1.2rem;
}

.suggestionsText {
    font-size: 25px;
    margin: 5px 0px 15px 0px; 
}

.suggestionsText p {
    margin: 0;
}

.suggestionsUsrContainer {
    display: flex;
    align-items: center;
    background-color: #3d435a;
    border-radius: 1.2rem;
    padding: 11px;
    margin-bottom: 11px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
}

.suggestionsUsrContainer:hover {
    background-color: #353a50;
}

.usrInfo {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-left: 20px;
    font-weight: 300;
}

.chatStartText {
    margin-left: auto;
    font-weight: 300;
}

.settingsOptions {
    background-color: #474E68;
    border-radius: 1.2rem;
    padding: 11px;
    display: flex;
    flex-direction: column;
}

.settingsOptionContainer {
    background-color: #40465d;
    margin-bottom: 11px;
    padding: 11px;
    box-sizing: border-box;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
}

.settingsOptionContainer:hover {
    background-color: #3a3f54;
}

#accountDelText {
    color: rgb(235, 66, 66);
}

.settingsOptionContainer p {
    color: white;
    font-size: 23px;
    font-weight: 300;
    margin: 0;
}



.settingsIconDiv {
    background-color: #474E68;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountSettingsOptions {
    background-color: #474E68;
    border-radius: 1.2rem;
    padding: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.accountSettingsOptionContainer {
    background-color: #40465d;
    border-radius: 1.2rem;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.1s ease-in;
}

.accountSettingsOptionContainer:hover {
    background-color: #3a3f54;

}

.accountSettingsOptionContainer p {
    color: white;
    margin: 0;
    font-weight: 300;
}

.active {
    border: 1px solid rgba(255, 255, 255, 0.5);
}