body {
    font-family: 'Poppins', sans-serif;
    background-color: #646A84;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#appLogo {
    width: 60px;
    height: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #474E68;
    border-radius: 2rem;
    margin: 11px;
}

.left, .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.left {
    margin-left: 20px;
}

.right {
    margin-right: 20px;
}

.left .text p {
    font-size: 1.6rem;
    color: white;
}

.settings , .profile, .logo {
    cursor: pointer;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section {
    background-color: #474E68;
    height: 100%;
    margin: 11px;
    border-radius: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}

.section #logInForm {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 518px;
    margin: 20px auto;
    border-radius: 1.6rem;
    gap: 16px;
}

.section #signUpForm {
    display: none;
    flex-direction: column;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: auto;
    margin: 20px auto;
    border-radius: 1.6rem;
    gap: 16px;
}

#logoOnLogInForm, #logoOnSignUpForm {
    margin-top: 20px;
}

input[type = "text"], input[type = "password"], input[type = "email"] {
    width: 250px;
    border: none;
    border-radius: 1.1rem;
    height: 37px;
    background-color: #C7C6C6;
    padding: 0;
    box-sizing: border-box;
}

input[type = "text"]:focus, input[type = "password"]:focus, input[type = "email"]:focus {
    outline: none;
    padding-left: 14px;
    box-sizing: border-box;
}

#signUp, #logIn {
    cursor: pointer;
    color: #0000FF;
}

#logInForm p, #signUpForm p {
    margin-top: 10px;
    font-size: 20px;
}

input[type = "submit"] {
    width: 120px;
    height: 55px;
    font-size: 20px;
    border-radius: 1.2rem;
    border: none;
    background-color: #B5B5B5;
    margin-bottom: 18px;
    cursor: pointer;
    transition: background-color 0.1s;
}

input[type = "submit"]:hover {
    background-color: #acaaaa;
}

#logInForm label, #signUpForm label {
    font-size: 23px;
}

