body {
    font-family: 'Poppins', sans-serif;
    background-color: #646A84;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#appLogo {
    width: 60px;
    height: 60px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #474E68;
    border-radius: 2rem;
    margin: 11px;
}

.left, .right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.left {
    margin-left: 20px;
}

.right {
    margin-right: 20px;
}

.left .text p {
    font-size: 1.6rem;
    color: white;
}

.settings , .profile, .logo {
    cursor: pointer;
}

.section {
    background-color: #474E68;
    height: 100%;
    margin: 11px;
    border-radius: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
}

.section form {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 500px;
    margin: 20px auto;
    border-radius: 1.6rem;
    gap: 16px;
}

#logoOnForm {
    margin-top: 20px;
}

input[type = "text"], input[type = "password"] {
    width: 250px;
    border: none;
    border-radius: 1.1rem;
    height: 55px;
    background-color: #C7C6C6;
}

input[type = "text"]:focus, input[type = "password"]:focus {
    outline: none;
    padding-left: 14px;
}

#signUp {
    text-decoration: none;
}

form p {
    margin-top: 10px;
}

input[type = "submit"] {
    width: 120px;
    height: 60px;
    font-size: 20px;
    border-radius: 0.6rem;
    border: none;
    background-color: #B5B5B5;
    margin-bottom: 18px;
    cursor: pointer;
}

form label {
    font-size: 23px;
}

form p {
    font-size: 20px;
}